<div id="why" class="content bg-nobel section-pad">
    <div class="content_row ">
        <div class="content_row__main pushout">
            <!--Content start-->

            <h1 class="mb-2 txt-c2 text-uppercase">WORLD'S LEADING DENTAL IMPLANTS<br>
                AT FINEST DENTAL <b>{{practicName}}</b></h1>

            <ul class="img-tick-list mb-4 d-none d-sm-flex">
                <li>Replace missing teeth.</li>
                <li>Restore your smile.</li>
                <li>Regain your confidence.</li>
            </ul>

            <div class="row d-block d-sm-block d-md-none d-lg-none d-xl-none mt-2">
                <div class="col-sm-12 ">
                    <iframe src="{{locatioURL}}" width="100%" height="240" frameborder="0" style="border:0" allowfullscreen style="pointer-events:none"></iframe>
                </div>
            </div>

            <div class="row d-block d-sm-none mb-3">
                <div class="col-sm-12 col-md-12 col-lg-11">
                    {{>content-usp}}
                </div>
            </div>

            <div class="d-none d-lg-block d-xl-block">
                <div class="row">
                    {{>content-home-henry-lg}}
                </div>
            </div>

            <div class="d-none d-md-block d-lg-none">
                <div class="row">
                    {{>content-home-henry-md}}
                </div>
            </div>

            <div class=" d-sm-block d-md-none">
                <div class="row">
                    {{>content-home-henry-sm}}
                </div>
            </div>



            <div class="row d-none d-sm-none d-md-none d-lg-block d-xl-block">
                <div class="col-sm-12 col-md-12 col-lg-11">
                   {{>content-usp}}
                </div>
           </div>

            <!--Content end-->

        </div>
    </div>
</div>