<div class="price-hed">
    <div class="price-hed_img">
        <img src="/images/new/p_implants_single.png" alt="Single Implants" class="embed-responsive">
    </div>
    <div class="price-hed_txt">
        <h3 class="h1 txt-c2"><b>Single</b> Implants</h3>
        <div class="divider blue"></div>
        <h5 class="txt-c2 mb-4"><b>from {{priceA}}<sup>1</sup></b></h5>
    </div>
</div>



<div class="more-text">
    <div class="more" style="display: none">
        <h5 class="">Dental implants are small rod-like posts that act as a base for replacement teeth. They are placed into the jawbone and act like roots in that they support the tooth, denture or bridge.</h5>
        <p class="mt-4">The dental implant screw fits into the bone and has a clip (abutment) that the tooth (crown) fits on to. Titanium is the usual material that implants are made of, this is because Titanium
            has no ill effect on the human body and bonds readily with the new bone, which penetrates into the titanium surface. The implants should last a lifetime if you look after them and maintain good oral hygiene.</p>
    </div>

    <a class="btn-play play"
       data-iframe="<iframe src=&quot;https://www.youtube.com/embed/OOzlbmDLwDA?rel=0&amp;autoplay=&quot;1&quot; frameborder=&quot;0&quot; width=&quot;640&quot; height=&quot;360&quot; frameborder=&quot;0&quot; width=&quot;560&quot; height=&quot;315&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>"
       target="_blank" title="Watch video">

        <div class="video-play-button">
            <span></span>
        </div>
        <div class="btn-play_txt">
            Watch explainer video
        </div>

    </a>
    <div class=" mb-2">&nbsp;</div>
    <a href="#" class="btn-readmore  mb-4">Read More</a>
</div>

