<div id="pricing" class="content min-Height section-pad">
    <div class="content_row ">
        <div class="content_row__main pushout">
            <div class="row">
                <div class="col-lg-6">
                    {{>content-inner-implant}}
                    <div class="hiddenDivider"></div>
                </div>
                <div class="col-lg-6">
                    {{>content-inner-wholearch}}
                </div>
            </div>





        </div>
    </div>
</div>