<div class="col-6">
    <img src="/images/new/before-after-treatment.jpg" alt="Gary" class="embed-responsive rounded">
</div>

<div class="col-5">

    <h3 class="txt-c2">
        <b>99% of patients can be treated even if they’ve been told nothing more can be done or their only option is dentures.</b></h3>
    <p class="bigger">Finest Dental offers pain-free dental implant treatments.</p>
    <ul class="simple-list">
        <li>We are experts in dealing with nervous patients, difficult cases and ‘Teeth In A Day’ full-mouth procedures.</li>
        <li>We only used the most experienced implantologists and the best implants available when it comes to your treatment.</li>
        <li>We also offer amazing after care packages, and an lifetime guarantee on all implants we place.</li>
    </ul>
</div>