
<div class="usp-implant">
    <h3 class="txt-c2">
        <b>Quality and Price Guaranteed</b>
    </h3>
    <div class="usp-implant-row">
        <div class="usp-implant-row-inner">
            <div class="usp-item">
                <img src="/images/new/usp-implant.png" alt="Implant" class="embed-responsive ">
            </div>
            <div class="usp-item">
                <img src="/images/new/img-icon-plus@2x.png" width="15" alt="Implant" class=" ">
            </div>
            <div class="usp-item">
                <img src="/images/new/usp-abutment.png"  alt="Abutment" class="embed-responsive ">
            </div>
            <div class="usp-item">
                <img src="/images/new/img-icon-plus@2x.png" width="15" alt="Implant" class=" ">
            </div>
            <div class="usp-item">
                <img src="/images/new/usp-crown.png" alt="Crown" class="embed-responsive ">
            </div>
            <div class="usp-item">
                <img src="/images/new/img-icon-equal@2x.png" width="15" alt="Implant" class=" ">
            </div>

        </div>
        <div class="usp-badge">
            <img src="/images/new/{{imgPriceA}}" alt="Implant" class="embed-responsive">
        </div>
    </div>

    <h4 class="txt-c1">
        <b><em>CLEAR  AND SIMPLE PRICING WITH NO HIDDEN EXTRAS</em></b>
    </h4>
</div>
