<div class="col-lg-12">
    <div class="meta-text">
        <p class="meta-text nb-text">* Same day dental implant restorations will occur an additional cost.</p>
        <p class=" mb-0 meta-text"><sup>{{pricing.imp1.termsNum}}</sup>. 10% deposit of {{pricing.imp1.deposit}}, plus 60 payments of {{pricing.imp1.pmPrice}} at {{pricing.imp1.interest}} APR. Total paid {{pricing.imp1.total}}, total interest paid {{pricing.imp1.interestPayed}}. Subject to availability, terms and conditions apply.</p>
        <p class=" mb-0 meta-text"><sup>2</sup>. 10% deposit of {{pricing.singleArch.deposit}}, plus 60 payments of {{pricing.singleArch.pmPrice}} at {{pricing.singleArch.interest}} APR. Total paid {{pricing.singleArch.total}}, total interest paid {{pricing.singleArch.interestPayed}}. Subject to availability, terms and conditions apply.
        <p class="nb-text mb-0 meta-text"><sup>3</sup>{{content.termsCredit}}</p>
    </div>
</div>