<div class="price-hed">
    <div class="price-hed_img arch">
        <img src="/images/new/nobel_all_on_4.png" alt="Single Implants" class="embed-responsive">
    </div>
    <div class="price-hed_txt">
        <h3 class="h1 txt-c2"><b>Whole</b> Arch</h3>
        <div class="divider blue"></div>
        <h5 class="txt-c2 mb-4"><b>from {{priceB}}<sup>2</sup></b></h5>
    </div>
</div>


<h5>The All-on-4/6 dental implant technique is revolutionary procedure allowing patients to attend the surgery in the morning and leave with a fully fixed temporary set of teeth in the afternoon!*</h5>
<div class="more-text">
    <div class="more" style="display: none">
        <p>The All-on-4/6 concept was developed by Nobel Biocare to enable the dental implant dentist to minimise the number of implants required to restore an entire arch (Jaw) of teeth and to enable the temporary restoration to be fitted to the implants on the very same day. Traditional implant techniques require 6-12 implants (which costs significantly more) to restore a jaw and also a period of extended healing time where the bridge cannot be fixed.</p>
        <p>The scientific idea behind the All-on-4/6 implant technique is that the two front implants are placed straight into the front of the jawbone parallel to the previously existing teeth whilst the two implants placed at the back of the jaw are angled at about 30 to 45 degrees in the bone compared to original root positions. This method enables the implants to provide a firm overall support and also evenly spreads the chewing forces transmitted from the denture or bridge to the jawbone.</p>
    </div>
    <a href="#" class="btn-readmore">Read More</a>
</div>

<div class=" mb-2">&nbsp;</div>
<a class="btn-play play"
   data-iframe="<iframe src=&quot;https://www.youtube.com/embed/LADwzxiTcs4?rel=0&amp;autoplay=&quot;1&quot; frameborder=&quot;0&quot; width=&quot;640&quot; height=&quot;360&quot; frameborder=&quot;0&quot; width=&quot;560&quot; height=&quot;315&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>"
   target="_blank" title="Watch video">

    <div class="video-play-button">
        <span></span>
    </div>
    <div class="btn-play_txt">
        Watch explainer video
    </div>

</a>
<div class=" mb-2">&nbsp;</div>

{{#ifequal content-price-terms true}}
    <p class="meta-text nb-text">* Same day dental implant restorations will occur an additional cost.</p>
{{else}}

{{/ifequal}}


