<div id="leading" class="content bg-nobel min-Height section-pad">
    <div class="content_row ">
        <div class="content_row__main pushout">
            <div class="row">
                <div class="col-lg-5">
                    <h2 class="h1 txt-c2 mb-2 text-left d-block d-xs-block d-sm-block d-md-block d-lg-none d-xl-none text-center"><b>World’s Leading Dental Implants</b></h2>
                    <img src="/images/new/splash-nobel-biocar.png" class="embed-responsive">
                </div>
                <div class="col-lg-7 d-flex flex-column  align-self-center">
                    <h2 class="h2 txt-c2 mb-2 d-none d-xs-none d-sm-none d-md-block d-lg-block d-xl-block"><b>World’s Leading Dental Implants</b></h2>
                    <h4 class="h4 txt-c1 mb-2"><b>No-one should die with their teeth in a glass of water.</b></h4>

                    <p>To fulfill our commitment to excellence, we have chosen NOBEL BIOCARE, a pioneer in dental implantology, as our preferred partner. Building on over 50 years at the forefront of dental reconstructive technology, Nobel is the world's leading implant manufacturer.</p>
                    <p>Every new Nobel product is carefully engineered and tested to provide you with safe and long-lasting dental solutions. A tradition that translates into new quality of life for people like you every day.</p>
                    <div class="footer-disc">
                        <div class="footer-disc_name">Professor Per-Ingvar Brånemark</div>
                        <div class="footer-disc_type">Discoverer of osseointegration</div>
                        <div class="footer-disc_img">
                            <img src="/images/implants7/per.png" class="embed-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>