<div id="formModalOuter" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body p-0">
                <div class="booking-form">
                    <div class="booking-form_hed">
                        <a href="tel:03330162093">
                            Book Your Free Consultation Today
                            <span>0333 016 2093</span>
                        </a>
                    </div>
                    <div class="booking-form_body">
                        <div class="contact-form">
                            <form action="/consultation.php" method="POST">
                                <input type=hidden name="company" value="1">
                                <input type=hidden name="sourceForm" value="{{source-popup}}">
                                [!trackingFields!]
                                <input type=hidden name="product" value="Implants">
                                <input type="hidden" name="treatment" value="1" />

                                <div class="cf-col half">
                                    <input class="form-control" type="text" name="first_name" id="first_nameA" placeholder="FIRST NAME" required />
                                </div>
                                <div class="cf-col half">
                                    <input class="form-control" type="text" name="last_name" id="last_nameA" placeholder="SECOND NAME" required />
                                </div>
                                <div class="cf-col">
                                    <input class="form-control" type="text" name="phone" placeholder="PHONE" required />
                                </div>
                                <div class="cf-col">
                                    <input class="form-control" type="text" name="email" placeholder="EMAIL" required />
                                </div>
                                <div class="cf-col">
                                    <input class="form-control" type="text" name="postcode" placeholder="POSTCODE" required />
                                </div>
                                <div class="cf-col text-center">
                                    <input type="submit" class="submit btn-grow" name="submit" value="BOOK NOW" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




