<div id="termsModalOuter" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">


                    <h1>Terms and Conditions</h1>
                    <p>We are always pleased to assist our patients whenever we can. This document gives details of our terms and conditions of service. If, however, you have any queries or need clarification, please contact us and a member of staff will be happy to help you.</p>
                    <h2>Treatment estimates</h2>
                    <p>Once your treatment plan has been agreed with the Dentist, we will provide printed details of your plan. If this plan changes due to radiographic or clinical findings, we will inform you and discuss this with you. Treatment plans are valid for net 90 days from the date the treatment was prescribed. If there are any points on your treatment plan that you wish to query, please do not hesitate to ask us.</p>
                    <h2>Consultations</h2>
                    <p>All initial consultations are free of charge. However, a holding deposit of £50 will be taken to secure a booking time for the consultation. This deposit is fully refundable upon attending the consultation, or will be discounted from any subsequent treatment undertaken.</p>
                    <h2>Consent forms</h2>
                    <p>All treatments require completion of a consent form. We will explain the treatment, aftercare and any risk to you thoroughly and ask that you sign the consent form prior to any treatment being carried out.</p>
                    <h2>Emergency appointments</h2>
                    <p>Should you need to see a dentist urgently, please contact us as early as possible. Our phones are answered around the clock and we will respond to a message left on our answer service as soon as possible. Please ensure that your contact details are clear.</p>
                    <h2>Personal details</h2>
                    <p>It is very important that you give a full medical history and details of any medication you take. Should these change in any way it is important you tell the dentist and give current information.</p>
                    <h2>Data Protection Act</h2>
                    <p>We store all patient personal details on a computer system in accordance with the Data Protection Act. All clinical notes, digital radiographs, digital photographs etc remain the property of Finest Dental. Copies of notes, radiographs and photographs can be made available on request.</p>
                    <p>Please be aware that any information provided through any part of our website or on the phone or in person with anyone other than a dentist does not constitute professional advice. No professional advice can be given without a clinical consultation with a dentist.</p>
                    <p>Finest Dental does not have a contract with a NHS Primary Care Trust and all treatments are provided on a private basis only.</p>
                    <h2>Fees</h2>
                    <p>Finest Dental does not operate a credit account system and we require fees to be settled at the appointment where treatment is provided.</p>
                    <p>Where treatment incurs a laboratory fee, at least 50% of the total fee is due at the appointment where impressions are taken. Fees for certain treatments like Dental Implants and Invisalign® are taken in staged payments at each visit.</p>
                    <p>In cases where treatment is paid for on finance through a Finance company, please be aware that the finance agreement must be accepted and signed prior to the start of that treatment. Please note that finance is only available on treatments over £400, not including Emergency Dental Treatment, and that a minimum deposit may also be required.</p>
                    <p>If you have financed any of the costs of your treatment through the finance company, and wish to cancel your treatment after signing the agreement forms, please be aware that a cancellation fee of up to 25% of the total finance amount will be charged.</p>
                    <p>Finest Dental does not accept any payments by cheque</p>
                    <p>Fees for treatment where intravenous sedation is included must be settled prior to the appointment to avoid financial transactions or signatures being required whilst a client is still under the influence of the sedative.</p>
                    <p>Finest Dental reserves the right to charge time based deposits for booking future appointments. Deposits are refundable or may be used to pay for any required treatment.</p>
                    <p>Finest Dental reserves the right to make a charge for any debt passed to a debt collection agency.</p>
                    <p>All the fees applied for any form of Dental treatment at the clinic are based on; the materials used, laboratory costs incurred (if applicable), and the clinical time spent. The fees are however, demonstrated as treatments prescribed on the treatment plan for your information.</p>
                    <h2>Late cancellation or missed appointments</h2>
                    <p>If you need to cancel or change an appointment please give us as much notice as possible. We require a minimum of 48 hours, otherwise you may incur cancellation fees. Appointments cancelled without 48 hours notice will, at the practices discretion, incur a cancellation fee of £50.</p>
                    <p>An administration fee of £100</p>
                    <p>All costs incurred (including finance fees) by the practice for the provision of the treatment</p>
                    <p>For implant and orthodontic courses of treatment the cancellation fee shall not be less than 25% of the total price of the course of treatment</p>
                    <p>Please be aware that if two consecutive appointments are cancelled without 48 hours notice, or failed to attend (without good reason), no further appointments shall be offered at the practice without a holding deposit of £50.</p>
                    <h2>Refunds</h2>
                    <p>Allow 28 days for a treatment cost refund, this is from the date of the refund request in writing to the practice.</p>
                    <h2>Guarantee</h2>
                    <p>At Finest Dental our Ceramic Veneers, Ceramic crowns and Implant crowns are guaranteed for a period of 1 year following placement, provided that the following conditions are met:</p>
                    <ul>
                        <li>The patient has fully paid for the treatment and does not owe the practice any money for the treatment received.</li>
                        <li>The Veneers, Crowns &amp; Implant crowns have not been damaged as a result of an accident, trauma or excessive grinding.</li>
                        <li>The patient has followed all post treatment maintenance recommendations made by our dentists.</li>
                        <li>The patient has attended a routine examination every 6 months.</li>
                        <li>Some treatments may have a guarantee of less than 1 year, and in this case you will be informed by your Dentist either verbally or in writing, or both.</li>
                    </ul>
                    <h2>Use of images and x-rays</h2>
                    <p>Finest Dental may use images and x-rays of your smile and teeth only, for marketing and educational purposes on the Finest Dental website, and on promotional and educational literature. Your name will never be published, and identity will never be disclosed. However, if you DO NOT wish for us to use your images and x-rays in this way, please let us know.</p>
                    <h2>Complaint’s policy</h2>
                    <p>At Finest Dental we always take complaints about any aspects of our services very seriously.</p>
                    <p>Complaints can be made in writing by filling out a simple complaints form available from reception, or via email through our online website contact form, by the patient or by an authorized person on the patient’s behalf.</p>
                    <p>Every complaint will receive an acknowledgement within 48 hours. Finest Dental will endeavor to resolve a complaint within 28 days. For our full complaints procedure and policy, please ask a member of our reception team. If a complaint is about any aspect of clinical care or associated charges it will normally be acknowledged by the Management team and then referred to the treating Dentist. Please note that in these cases, Finest Dental accepts no liability on behalf of the treating Dentist and acts as a liaison between the patient and the treating Dentist, only.</p>
                    <p>If you are unsatisfied with our internal handling of your complaint, you are free to forward your complaint to the Dental Complaints Service (www.dentalcomplaints.org.uk). If still unsatisfied, you may wish to forward your complaint to the General Dental Council.</p>
                    <h2>No tolerance/Abuse policy</h2>
                    <p>At Finest Dental we operate a zero tolerance policy to abuse to our Dentists and staff, loud/disorderly/drunken behaviour, persistent missing and late cancellation of appointments. In these situations, Finest Dental reserves the right to refuse treatment and admission.</p>
                    <h2>Dental plan terms &amp; conditions</h2>
                    <ol>
                        <li>The parties to this agreement are the Patient and B and A Group Ltd trading as Finest Dental (“FINEST DENTAL”).</li>
                        <li>In consideration of the Patient paying the Monthly Fee, FINEST DENTAL agrees to provide the dental services to the Patient as detailed in Schedule 1 to this agreement. FINEST DENTAL shall delegate the provision of these dental services to suitably qualified registered practitioners practising at FINEST DENTAL’s premises.</li>
                        <li>FINEST DENTAL has arranged Accident &amp; Emergency Dental Insurance cover through Patient Plan Direct Ltd for Patient’s of FINEST DENTAL who are enrolled onto a Dental Membership Plan. Full details of the cover provided by through Patient Plan Direct Ltd and their terms and conditions are available on request. The policy provides cover for:<ol>
                            <li>Emergency treatment arising from accidents and trauma</li>
                            <li>oral cancer</li>
                            <li>call out fees and emergency treatment in emergency situations whilst you are away from home</li>
                            <li>call out fees if you have a dental emergency and have to visit FINEST DENTAL outside of normal surgery hours. Please note that the policy covers the call out fees and emergency treatment only, but not the full cost of treatment in these situations.</li>
                        </ol></li>
                        <li>The Patient may terminate this agreement by giving at least two months written notice to FINEST DENTAL. FINEST DENTAL may terminate this agreement by giving at least two months written notice to the Patient provided that the Patient is not undergoing a course of treatment from FINEST DENTAL which will take more than one month to complete, in which case the agreement will terminate on completion of the treatment. There will be no refund for any “unused” services.</li>
                        <li>The monthly fee will be reviewed annually. FINEST DENTAL will inform the Patient in January of each year of any changes to the monthly fee that will apply from the following 1st April.</li>
                        <li>In the event of the monthly fee being unpaid for one month after it has become due, FINEST DENTAL may terminate this agreement by giving one month’s written notice to the Patient. The Patient will be liable to FINEST DENTAL for all sums due to FINEST DENTAL under this agreement until the date of termination of this agreement, which is two months after the payment due date. If the Patient wishes to re-enrol onto a Dental Plan an administration fee of £15 will be charged.</li>
                        <li>The Monthly Fee will be taken by monthly direct debit through Patient Plan Direct Ltd (see clause 14 below) and will continue to be taken until this agreement is terminated. Payments will be taken on 1st day of each month. The first payment may be taken up to 2 months after the date of this agreement due to administrative reasons and will consist of a “double payment” to include payment for the first and second months.</li>
                        <li>The Patient will attend the practice when asked to do so for treatment or examination purposes. If the Patient fails to attend an appointment or fails to give FINEST DENTAL 48 hours notice of cancellation, this appointment will count as one of the two annual appointments available under the Dental Plan. If the Patient fails to attend the second appointment as well as the first, FINEST DENTAL shall be entitled to terminate this agreement.</li>
                        <li>The Patient is responsible for ensuring that they make appointments with FINEST DENTAL. There will be no refunds for any “unused” services, nor can they be carried forward from one year to another.</li>
                        <li>This agreement is personal to FINEST DENTAL and any registered practitioners practising at FINEST DENTAL’s premises. The benefits cannot be transferred to treatment or examinations provided by any other dental practitioner or at any other dental practice.</li>
                        <li>Any disputes arising under this agreement shall be settled by arbitration if they cannot be settled through FINEST DENTAL’s complaints procedure.</li>
                        <li>All written notices should be sent by recorded delivery to the last known address of FINEST DENTAL or the Patient.</li>
                        <li>FINEST DENTAL’s Dental Plans are administered by:<br>Patient Plan Direct Ltd in respect of insurance are authorised and regulated by the Financial Services Authority. Registered in England No. 503056</li>
                        <li>Patient Plan Direct Ltd is responsible for administering your Direct Debit payments.</li>
                        <li>Registered office for Patient Plan Direct Ltd is: Sutton House, Ashville Point, Clifton Lane, Sutton Weaver, Cheshire, WA7 3FW</li>
                        <li>Patient Plan Direct Ltd is not party to this agreement and as such have no liability to the Patient.</li>
                        <li>FINEST DENTAL and the Patient agree that this agreement is governed and construed in accordance with English Law and the parties hereby irrevocably submit to the exclusive jurisdiction of the English Courts.</li>
                    </ol>


            </div>
        </div>
    </div>
</div>




