<div id="privacyModalOuter" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">


                    <h1>Privacy Policy</h1>
                    <h2>Information about Finest Dental</h2>
                    <p>In this privacy notice, ‘we’, 'us’ and ‘our’ mean Finest Dental. Contact Finest Dental by email at info@finestdental.co.uk or by phone on 08081597474.</p>
                    <h2>Scope of our privacy notice</h2>
                    <p>This privacy notice applies to anyone who interacts with us about our products and services (‘you’, ‘your’), in any way (for example, by email, through our website, by phone, through our app). We will give you further privacy information if necessary for specific contact methods or in relation to specific products or services.This privacy notice applies to you if you ask us about, buy or use our products and services. It describes how we handle your information, regardless of the way you contact us (for example, by email, through our website, by phone, through our app and so on). We will provide you with further information or notices if necessary, depending on the way we interact with each other, for example if you use our apps we may give you privacy notices which apply just to a particular type of information which we collected through that app. If you have any questions about this, please contact us at info@finestdental.co.uk</p>
                    <h2>How we collect personal information</h2>
                    <p>We collect personal information from you. We collect personal information from you:</p>
                    <ul>
                        <li>through your contact with us, including by phone (we may record or monitor phone calls to make sure we are keeping to legal rules, codes of practice and internal policies, and for quality assurance purposes), by email, through our websites, through our app, by post, by filling in application or other forms, through social media or face-to-face (for example, in medical consultations, diagnosis and treatment).</li>
                        <li>
                            <p>We also collect information from other people and organisations. For all our customers, we may collect information from:</p>
                            <ul>
                                <li>
                                    <p>your parent or guardian, if you are under 18 years old;</p>
                                </li>
                                <li>
                                    <p>a family member, or someone else acting on your behalf;</p>
                                </li>
                                <li>
                                    <p>doctors, other clinicians and health-care professionals, hospitals, clinics and other health-care providers;</p>
                                </li>
                                <li>
                                    <p>fraud-detection and credit-reference agencies;</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h2>Categories of personal information</h2>
                    <p style="display: inline !important;">We process two categories of personal information about you and (where this applies) your dependants:</p>
                    <ul>
                        <li>
                            <p>standard personal information (for example, information we use to contact you, identify you or manage our relationship with you); and</p>
                        </li>
                        <li>
                            <p>special categories of information (for example, health information, and information about crime in connection with checks against fraud or anti-money-laundering registers)</p>
                        </li>
                        <li>
                            <p>Standard personal information includes:</p>
                            <ul>
                                <li>
                                    <p>contact information, such as your name, username, address, email address and phone numbers;</p>
                                </li>
                                <li>
                                    <p>the country you live in, your age, your date of birth and national identifiers (such as your National Insurance number);</p>
                                </li>
                                <li>
                                    <p>information about your employment;</p>
                                </li>
                                <li>
                                    <p>details of any contact we have had with you, such as any complaints or incidents;</p>
                                </li>
                                <li>
                                    <p>financial details, such as details about your payments</p>
                                </li>
                                <li>
                                    <p>the results of any credit or any anti-fraud checks we have made on you;</p>
                                </li>
                                <li>
                                    <p>information about how you use our website, apps or other technology, including IP addresses or other device information (please see our Cookies Policy&nbsp;for more details).</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p align="justify">Special category information includes;</p>
                    <ul>
                        <ul>
                            <li>
                                <p align="justify">information about your physical health (we may get this information from medical history forms you have filled in, from notes and reports about your health and any treatment and care you have received or need, or it may be recorded in details of contact we have had with you such as information about complaints or incidents, and referrals.</p>
                            </li>
                        </ul>
                    </ul>
                    <h2>What we use your personal information for</h2>
                    <p>We process your personal information for the purposes set out in this privacy notice. We have also set out some legal reasons why we may process your personal information (these depend on what category of personal information we are processing). We normally process standard personal information if this is necessary to provide the services set out in a contract.</p>
                    <p style="display: inline !important;">By law, we must have a lawful reason for processing your personal information. We process standard personal information about you if this is:</p>
                    <ul>
                        <li>
                            <p>necessary to provide the services set out in a contract − if we have a contract with you, we will process your personal information in order to fulfil that contract (that is, to provide you with our products and services);</p>
                        </li>
                        <li>
                            <p>required by law.</p>
                        </li>
                        <li>
                            <p>We process special category information about you because:</p>
                            <ul>
                                <li>
                                    <p>it is necessary for a purpose designed to protect the public against dishonesty, malpractice or other seriously improper behaviour (for example, investigations in response to a safeguarding concern, a member's complaint or a regulator (such as the Care Quality Commission or the General Dental Council) telling us about an issue);</p>
                                </li>
                                <li>
                                    <p>it is necessary for government authorities and agencies, including the Health Protection Agency (for infectious diseases such as TB and meningitis);</p>
                                </li>
                                <li>
                                    <p>it is in the public interest, in line with any laws that apply;</p>
                                </li>
                                <li>
                                    <p>it is information that you have made public; or</p>
                                </li>
                                <li>
                                    <p>we have your permission.</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p>As is best practice, we will only ask you for permission to process your personal information if there is no other legal reason to process it. If we need to ask for your permission, we will make it clear that this is what we are asking for, and ask you to confirm your choice to give us that permission. If we cannot provide a product or service without your permission (for example, we can’t manage and run a Dental Practice without health information), we will make this clear when we ask for your permission. If you later withdraw your permission, we will no longer be able to provide you with a product or service that relies on having your permission.</p>
                    <h2>Legitimate Interest</h2>
                    <p style="display: inline !important;">We process your personal information for a number of legitimate interests, including managing all aspects of our relationship with you, to help us improve our services and products,</p>
                    <ul>
                        <li>
                            <p>to enforce or apply our website terms of use, our policy terms and conditions or other contracts, or to protect our (or our customers’ or other people’s) rights, property or safety;</p>
                        </li>
                        <li>
                            <p>to take part in, or be the subject of, any sale, purchase, merger or takeover of all or part of the Finest Dental business.</p>
                        </li>
                    </ul>
                    <h2>How long we keep your personal information</h2>
                    <ul>
                        <li>
                            <p>We keep your personal information in line with set periods calculated using the following criteria.</p>
                            <ul>
                                <li>
                                    <p>How long you have been a customer / patient with us, the types of products or services you have with us, and when you will stop being our customer.</p>
                                </li>
                                <li>
                                    <p>How long it is reasonable to keep records to show we have met the obligations we have to you and by law.</p>
                                </li>
                                <li>
                                    <p>Any time limits for making a claim.</p>
                                </li>
                                <li>
                                    <p>Any periods for keeping information which are set by law or recommended by regulators, professional bodies or associations.</p>
                                </li>
                                <li>
                                    <p>Any relevant proceedings that apply.</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h2>Your rights</h2>
                    <p>You have the right to access your information and to ask us to correct any mistakes and delete and restrict the use of your information. You also have the right to object to us using your information, to ask us to transfer of information you have provided, to withdraw permission you have given us to use your information</p>
                    <p style="display: inline !important;">You have the following rights (certain exceptions apply).</p>
                    <ul>
                        <li>
                            <p>Right of access: the right to make a written request for details of your personal information and a copy of that personal information</p>
                        </li>
                        <li>
                            <p>Right to rectification: the right to have inaccurate information about you corrected or removed</p>
                        </li>
                        <li>
                            <p>Right to erasure ('right to be forgotten'): the right to have certain personal information about you erased</p>
                        </li>
                        <li>
                            <p>Right to restriction of processing: the right to request that your personal information is only used for restricted purposes</p>
                        </li>
                        <li>
                            <p>Right to object: the right to object to processing of your personal information in cases where our processing is based on the performance of a task carried out in the public interest or we have let you know the processing is necessary for our or a third party’s legitimate interests. You can object to our use of your information for profiling purposes where it is in relation to direct marketing</p>
                        </li>
                        <li>
                            <p>Right to data portability: the right to ask for the personal information you have made available to us to be transferred to you or a third party in machine-readable formats</p>
                        </li>
                        <li>
                            <p>Right to withdraw consent: the right to withdraw any consent you have previously given us to handle your personal information. If you withdraw your consent, this will not affect the lawfulness of Finest Dentals use of your personal information prior to the withdrawal of your consent and we will let you know if we will no longer be able to provide you your chosen product or service</p>
                        </li>
                    </ul>
                    <h2>Data protection contacts</h2>
                    <p>If you have any questions, comments, complaints or suggestions in relation to this notice, or any other concerns about the way in which we process information about you, please contact our Data Protection Officer at info@finestdental.co.uk</p>
                    <p>You also have a right to make a complaint to your local privacy supervisory authority.</p>
                    <p>Information Commissioner:Information Commissioner's OfficeWycliffe HouseWater LaneWilmslowCheshire, United KingdomSK9 5AFPhone: 0303 123 1113 (local rate) or 01625 545 745 (national rate)</p>
                    <h2>Using Our Website</h2>
                    <p>For those visitors who register with us, we do not share your name, email address, preferences or any demographic information with any third party.</p>
                    <h2>Links</h2>
                    <p>Our website may contain links to other websites. Please note that our privacy policy does not apply to linked sites. We actively encourage you to read appropriate privacy statements when interacting with any website.</p>
                    <h2>Information this website gathers/tracks</h2>
                    <p>Our website logs IP addresses and browser types. You can browse our site without entering any personal information, and therefore remain anonymous during your visit. However, some forms ask for personal information such as name, postal address, email address and telephone number to enable us to send out the requested information.</p>
                    <h2>Use of your information</h2>
                    <p>Our website logs IP addresses for systems administration purposes and these logs will be analyzed to constantly improve the value of the materials available on the website. By entering your address and telephone details, you understand and accept that we will not pass this information on to any third parties without your express consent. You also understand and accept that we may use this information to keep you informed by telephone, post and/or e-mail of products and services that are available from us that we feel may be of interest to you. If you would prefer not to receive such information you can email us at info@finestdental.co.uk</p>
                    <h2>Enquiry forms</h2>
                    <p>The information that we request on our enquiry forms are used to process your request quickly and accurately and enable us to provide you with the services you require. We will not share this information with any third parties without your consent.</p>




            </div>
        </div>
    </div>
</div>




