<div id="complaintsModalOuter" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">


                    <h1>Complaints Procedure</h1>
                    <p>Finest Dental views complaints as an opportunity to learn and improve for the future, as well as a chance to put things right for the person that has made the complaint.</p>
                    <p>Our policy is:</p>
                    <ul>
                        <li>To provide a fair complaints procedure which is clear and easy to use for anyone wishing to make a complaint&nbsp;</li>
                        <li>To publicise the existence of our complaints procedure so that people know how to contact us to make a complaint&nbsp;</li>
                        <li>To make sure everyone at Finest Dental knows what to do if a complaint is received&nbsp;</li>
                        <li>To make sure all complaints are investigated fairly and in a timely way&nbsp;</li>
                        <li>To make sure that complaints are, wherever possible, resolved and that relationships are repaired&nbsp;</li>
                        <li>To gather information which helps us to improve what we do&nbsp;</li>
                    </ul>
                    <h2>Confidentiality</h2>
                    <p>All complaint information will be handled sensitively, telling only those who need to know and following any relevant data protection requirements.</p>
                    <p>Responsibility Overall responsibility for this policy and its implementation lies with <span>Emily Grey</span>.&nbsp;This policy is reviewed regularly and updated as required.&nbsp;</p>
                    <p>If patients are not satisfied with the result of our procedure, then a complaint may be made to:</p>
                    <ul>
                        <li>To Dental Complaints Services (020 8253 0800)</li>
                        <li>The General Dental Council, 37 Wimpole Street, London, W1G 8DQ (this is the “Dentists” registration body)</li>
                        <li>Care and Quality Commission 03000 616161</li>
                    </ul>
                    <p>Publicised Contact Details for Complaints: Written complaints may be sent to Finest Dental at&nbsp;</p>
                    <p>Unit 18 Station Close<br>Potters Bar<br>EN6 1TL</p>
                    <p>Or by e-mail at&nbsp;<a href="mailto:complaints@finestdental.co.uk">complaints@finestdental.co.uk</a></p>
                    <p><span>In the first instance all complaints should be discussed with your Treatment Coordinator.</span></p>



            </div>
        </div>
    </div>
</div>




