<div class="main-nav fixed-top">
    <div class="nav-wrapper">
        <div class="nav_logo fd-logo"></div>
        <div class="nav-links">
            <ul class="nav flex-row">
                <li class="nav-item"><a class="nav-link" href="#whyus"><span class="hide">why&nbsp;</span>finest dental</span><span class="hide">?</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#pricing"  aria-pressed="true">pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="#leading"  aria-pressed="true"><span class="hide">world's&nbsp;</span>leading implants</a></li>
                <li class="nav-item"><a class="nav-link" href="#guarantee"  aria-pressed="true"><span class="hide">lifetime&nbsp;</span>Guarantee</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="#contact"  aria-pressed="true">contact <span class="hide">&nbsp;us</span></a></li>-->
            </ul>

            <a href="tel:{{content.tellnumber}}" class="nav-links_callbtn">
                  Call: {{content.tellnumber}}
            </a>

        </div>
    </div>
</div>
