
<footer class="footer">

    <div class="content">
        <div class="content_row ">
            <div class="content_row__main pushout">
                <div class="footer-row">
                    <div class="col">
                        <ul>
                            <li><a href="#" class="termsPopup" title="Terms and Conditions">Terms and
                                Conditions</a></li>
                            <li><a href="#" title="Privacy Policy" class="privacyPopup">Privacy Policy</a></li>
                            <li class="last">
                                <a href="#" class="complaintsPopup" title="Complaints Procedure">
                                    Complaints Procedure
                                </a>
                            </li>

                        </ul>

                    </div>
                    <div class="col narrow" >
                        <h3>Call Us</h3>
                        <h4><a href="tel:0333 016 2093">0333 <span>016 2093</span></a></h4>
                        <div class="meta">&copy; 2018 Finest Dental Ltd. All rights reserved.</div>
                    </div>
                    <div class="col">

                        <ul>
                            <li><strong>TREATMENTS</strong></li>
                            <li><a href="#">Invisalign</a></li>
                            <li><a href="#">Dental Implants</a></li>
                            <li><a href="#">Dental Veneers</a></li>
                            <li><a href="#">Crowns &amp; Bridges</a></li>
                            <li><a href="#">General Dentistry</a></li>
                        </ul>
                    </div>
                    <div class="col">

                        <ul>
                            <li><strong>CLINIC LOCATIONS</strong></li>
                            <li><a href="#">London Cannon St</a></li>
                            <li><a href="#">London Liverpool St</a></li>
                            <li><a href="#">Winchester</a></li>
                            <li><a href="#">Wokingham</a></li>
                            <li><a href="#">Milton Keynes</a></li>
                            <li><a href="#">Leicester</a></li>
                            <li><a href="#">Brentwood</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



</footer>